.App {
  text-align: center;
}

label{
  color: #eee;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FAFAFA;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input[type]{
  margin-right: 4px;
}
.button-primary:disabled{
  background-color: #e91e63 !important;
}
/*/*/

.coin-container{
  background-color: #00b0ff;

  text-align: left;

  padding: 16px 16px 16px 16px;
  margin-bottom: 16px;
  //width: 200px;
  height: 350px;

  border-radius: 6px;
}
.coin-change{
    text-align: left;
    padding: 4px 8px 4px 8px;
    padding-top: 24px;
    margin-bottom: 16px;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 500;
    font-size: 2.6rem !important;
}
.coin-container h1{
font-size: 48px;
color: rgba(255,255,255,0.80);
letter-spacing: -0.01px;
}
.coin-container h3{
  text-align: center;
  /* Bitcoin: */
font-size: 56px;
color: #FFFFFF;
letter-spacing: -0.01px;
}
.coin-container p{
  color: rgba(255,255,255,0.80);
  font-size: 2.2rem;
  line-height: 1.6rem;
  margin-left: 8px;
  text-align: center;
}
.coin-container p span{

  font-size: 2.2rem;
line-height: 1.6rem;
padding-top: 16px;
  margin-left: 16px;
}
/*/*/

.expand-btn-container{
  text-align: center;
}
#expand-btn{
  color: white;
  font-size: 1.5rem;
  float: right;
background-color: #e91e63;
  margin-top: 24px;
  margin-bottom: 24px;
}

.expand{
  display: none;
}
/*/*/

#coin-total {
  color: #FFFFFF;
  font-size: 3.6rem;
  font-weight: 500;
  margin-top: 24px;
}
/*/*/

.red {
font-size: 36px;
color: #FFB5B0;
letter-spacing: -0.01px;
}
.b-red {
  border-color: red;
}

.green {
font-size: 36px;
color: #B1FFAB;
letter-spacing: -0.01px;
}

.white-f {
  color: white;
}
